{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie >= 11"
              ],
            },
            "corejs": "3.1.4",
            "useBuiltIns": "usage"
          }
        ]
      ],
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie >= 11"
              ],
            },
            "corejs": "3.1.4",
            "useBuiltIns": "usage"
          }
        ],
        "minify"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
