{
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "sourceType": "module",
    "requireConfigFile": false,
    "ecmaVersion": "latest"
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "class-methods-use-this": "off",
    "no-unused-vars": "off",
    "no-dupe-keys": "off",
    "func-names": "off",
    "no-param-reassign": "off",
    "no-console": "off",
    "getter-return": "off",
    "new-cap": "off",
    "no-prototype-builtins": "off",
    "max-classes-per-file": "off",
    "arrow-parens": "off",
    "import/prefer-default-export": "off",
    "max-len": [
      "error",
      {
        "code": 140
      }
    ],
    "semi": [
      2,
      "always"
    ]
  }
}
