{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "class-methods-use-this": "off",
    "no-unused-vars": "off",
    "no-dupe-keys": "off",
    "func-names": "off",
    "no-param-reassign": "off",
    "no-console": "off",
    "getter-return": "off",
    "new-cap": "off",
    "no-prototype-builtins": "off",
    "max-classes-per-file": "off",
    "arrow-parens": "off",
    "import/prefer-default-export": "off"
  }
}
